html {
  --primary: #24305E;
  --primaryVariant: #374785;
  --secondary: #00A79d;
  --secondaryVariant: #26807A;
  --logoBackground: #00A79D;
  --logoRed: #ED1C24;
  --logoOrange: #F7941D;
  --white: #F5F5F5;
  --black: #080808;
  --offBlack: #212221;
  --background: #F5F5F5;
  --error: #ED1C24;
  --textColor: #080808;
  --textVariant: #F5F5F5;
  --baseSpacing: 8px;
  --fontStack: Acumin-pro;

  font-size: 10px;
}

body {
  font-family: var(--fontStack); 
  font-size: 1.5em;
}

header {
  background: var(--primary);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
}

nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

nav a {
  color: black;
  text-decoration: none;
}

main {

}

footer {
  background: var(--primary);
  font-size: .8em;
  height: 10vm;
}

header img {
  height: 10vh;
}


/* header {
  background-image: linear-gradient(
    to right, 
    #ed1c24, 
    #f03f1e, 
    #f35719, 
    #f56b16, 
    #f67d16, 
    #e28e00, 
    #cc9c00, 
    #b7a81b, 
    #89ae3e, 
    #5caf62, 
    #2ead83, 
    #00a79d);
  height: 10vh;
}

main {  
  background: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 100%
    ),
    linear-gradient(
      241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    url(./assets/wireframe.jpg);
    background-size: cover;
  height: 90vh;
} */