$primary: #002147;
$primaryVariant: #374785;
$secondary: #00A79d;
$secondaryVariant: #26807A;
$logoBackground: #00A79D;
$logoRed: #ED1C24;
$logoOrange: #F7941D;
$white: #F5F5F5;
$black: #080808;
$offBlack: #212221;
$background: #F5F5F5;
$error: #ED1C24;
$textColor: #080808;
$textVariant: #F5F5F5;
$baseSpacing: 10px;
