@import "variables";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

header {
  align-items: center;
  background: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 760px) {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  img {
    height: 50px;
    margin: $baseSpacing;
  }
  h1 {
    color: $white;
  }

  @media screen and (min-width: 760px) {
    flex-direction: row;
    justify-content: left;
  }
}

nav {
  background: $primary;
  text-align: center;
  @media screen and (min-width: 760px) {
    position: fixed; /* Set the navbar to fixed position */
    top: 74px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  ul {
    list-style-type: none;
  }
  li {
    padding: $baseSpacing;
  }
  a {
    color: $white;
    margin: 10px;
    text-decoration: none;
  }
}

.index-main {
  align-items: center;
  background: rgb(0, 33, 71);
  background: radial-gradient(
    circle,
    rgba(0, 33, 71, 1) 0%,
    rgba(0, 167, 157, 1) 73%,
    rgba(0, 33, 71, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
  padding: $baseSpacing;
  padding-bottom: $baseSpacing * 10;
  text-align: center;
  @media screen and (min-width: 760px) {
    margin-top: 110px;
  }
  p {
    color: $white;
    font-size: 1.2em;
    margin: $baseSpacing;
    margin-bottom: $baseSpacing * 5;
    padding: $baseSpacing;
    max-width: 1000px;
  }
  h2 {
    color: $white;
    margin: $baseSpacing;
    padding: $baseSpacing;
  }
  a {
    padding: $baseSpacing;
  }
}

footer {
  background: $primary;
  color: $white;
  font-size: 0.8em;
  padding: $baseSpacing;
  text-align: center;
  p {
    margin: $baseSpacing;
  }
}

.main-nav {
  display: none;

  @media screen and (min-width: 760px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
    margin-right: $baseSpacing * 3;
  }
}

.fas {
  position: absolute;
  transform: translateX(calc(50vw - 70px));
  background: $primary;
  color: $white;
  font-size: 2em;
  padding: 10px 20px;
  @media screen and (min-width: 760px) {
    visibility: hidden;
  }
}

.active {
  display: block;
}

.bigBold {
  color: $white;
  font-size: 4em;
  margin: $baseSpacing;
  margin-top: 50px;
}

.btn {
  background-color: $logoBackground;
  border-radius: 10%;
  box-shadow: 3px 3px 3px $logoOrange;
  color: $white;
  display: inline-block;
  margin: $baseSpacing * 2;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.about-main {
  background: $white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
  padding: $baseSpacing;
  padding-bottom: $baseSpacing * 10;
  text-align: center;
  @media screen and (min-width: 760px) {
    margin-top: 110px;
  }
  p {
    font-size: 1.2em;
    margin: $baseSpacing;
    margin-bottom: $baseSpacing * 5;
    padding: $baseSpacing;
    max-width: 1000px;
  }
  h2 {
    color: $black;
    margin: $baseSpacing;
    padding: $baseSpacing;
  }
  a {
    padding: $baseSpacing;
  }
  ul {
    column-count: 2;
    column-gap: $baseSpacing * 5;
    margin: $baseSpacing;
    padding: $baseSpacing;
  }
}
