* {
  color: #080808;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #002147;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 760px) {
  header {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
  }
}

header img {
  height: 50px;
  margin: 10px;
}

header h1 {
  color: #F5F5F5;
}

@media screen and (min-width: 760px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

nav {
  background: #002147;
  text-align: center;
}

@media screen and (min-width: 760px) {
  nav {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 74px;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
  }
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 10px;
}

nav a {
  color: #F5F5F5;
  margin: 10px;
  text-decoration: none;
}

.index-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #002147;
  background: radial-gradient(circle, #002147 0%, #00a79d 73%, #002147 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 84vh;
  padding: 10px;
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .index-main {
    margin-top: 110px;
  }
}

.index-main p {
  color: #F5F5F5;
  font-size: 1.2em;
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  max-width: 1000px;
}

.index-main h2 {
  color: #F5F5F5;
  margin: 10px;
  padding: 10px;
}

.index-main a {
  padding: 10px;
}

footer {
  background: #002147;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #F5F5F5;
  margin: 10px;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 760px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
}

.fas {
  position: absolute;
  -webkit-transform: translateX(calc(50vw - 70px));
          transform: translateX(calc(50vw - 70px));
  background: #002147;
  color: #F5F5F5;
  font-size: 2em;
  padding: 10px 20px;
}

@media screen and (min-width: 760px) {
  .fas {
    visibility: hidden;
  }
}

.active {
  display: block;
}

.bigBold {
  color: #F5F5F5;
  font-size: 4em;
  margin: 10px;
  margin-top: 50px;
}

.btn {
  background-color: #00A79D;
  border: double #ED1C24;
  border-radius: 10%;
  -webkit-box-shadow: 3px 3px 3px #F7941D;
          box-shadow: 3px 3px 3px #F7941D;
  color: #F5F5F5;
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.about-main {
  background: #F5F5F5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 84vh;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .about-main {
    margin-top: 110px;
  }
}

.about-main p {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  max-width: 1000px;
}

.about-main h2 {
  color: #080808;
  margin: 10px;
  padding: 10px;
  max-width: 1000px;
}

.about-main h3 {
  padding: 10px;
  max-width: 1000px;
}

.about-main a {
  padding: 10px;
}

.about-main ul {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  max-width: 1000px;
  width: 100vw;
}

.prim-color {
  background: #002147;
  color: #F5F5F5;
  text-align: right;
  padding: 10px;
}

.align-right {
  text-align: right;
}

@media screen and (min-width: 760px) {
  .grid-intro {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "blank header" "blank content" "blank btn";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
  }
  .grid-intro div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blank;
  }
  .grid-intro h2 {
    background: #F5F5F5;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    margin: 0;
  }
  .grid-intro p {
    background: #F5F5F5;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    margin: 0;
  }
  .grid-intro .btn-container {
    background: #F5F5F5;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: btn;
    margin: 0;
    max-width: 1000px;
  }
  .grid-sum {
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". header" "side content";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
  }
  .grid-sum h2 {
    border-top: double #00A79d;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    margin: 0;
  }
  .grid-sum h3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: side;
    margin: 0;
  }
  .grid-sum p {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    margin: 0;
  }
  .grid-skills {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header list";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
  }
  .grid-skills ul {
    border-top: double #00A79d;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: list;
    margin: 0;
  }
  .grid-skills li {
    text-align: center;
    width: 100px;
  }
  .grid-skills h3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
    margin: 0;
  }
  .grid-exp {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "blank header" "date1 content1" "date2 content2" "date3 content3";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
  }
  .grid-exp div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blank;
  }
  .grid-exp h4,
  .grid-exp p {
    padding: 5px 10px;
    text-align: left;
  }
  .grid-exp .exp-title {
    background: #F5F5F5;
    border-top: double #00A79d;
    border-bottom: double #00A79d;
    color: #002147;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .grid-exp .date-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: date1;
    margin: 0;
  }
  .grid-exp .date-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: date2;
    margin: 0;
  }
  .grid-exp .date-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: date3;
    margin: 0;
  }
  .grid-exp .content-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content1;
    margin: 0;
  }
  .grid-exp .content-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: content2;
    margin: 0;
  }
  .grid-exp .content-3 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: content3;
    margin: 0;
  }
  .grid-exp p {
    background: #F5F5F5;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    margin: 0;
  }
  .grid-edu {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "blank header" "date1 content1" "date2 content2" "date3 content3";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100vw;
  }
  .grid-edu div {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blank;
  }
  .grid-edu h4,
  .grid-edu p {
    text-align: left;
  }
  .grid-edu .exp-title {
    background: #F5F5F5;
    border-top: double #00A79d;
    border-bottom: double #00A79d;
    color: #002147;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: header;
  }
  .grid-edu .date-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: date1;
    margin: 0;
  }
  .grid-edu .date-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: date2;
    margin: 0;
  }
  .grid-edu .content-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content1;
    margin: 0;
  }
  .grid-edu .content-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: content2;
    margin: 0;
  }
  .grid-edu p {
    background: #F5F5F5;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */