/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.demo-card:nth-child(2) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.demo-card:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.demo-card:nth-child(4) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.demo-card:nth-child(5) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.demo-card:nth-child(6) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

/* Border Box */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fonts */
body {
  font-family: Roboto;
}

.projects {
  padding: 100px 0;
  background: #F5F5F5;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}

.projects h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.projects p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}

.projects .demo-card-wrapper {
  position: relative;
  margin: auto;
}

@media (min-width: 1000px) {
  .projects .demo-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 1100px;
    height: 2130px;
    margin: 0 auto;
  }
}

.projects .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}

@media (min-width: 480px) {
  .projects .demo-card {
    max-width: 60%;
    -webkit-box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}

@media (min-width: 770px) {
  .projects .demo-card {
    max-width: 40%;
  }
}

@media (min-width: 1000px) {
  .projects .demo-card {
    max-width: 400px;
    height: 550px;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .projects .demo-card:nth-child(odd) {
    margin-right: 50px;
  }
  .projects .demo-card:nth-child(even) {
    margin-left: 50px;
  }
  .projects .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}

.projects .demo-card .head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.projects .demo-card .head .number-box {
  display: inline;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}

.projects .demo-card .head h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}

@media (min-width: 480px) {
  .projects .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}

.projects .demo-card .head h2 span {
  color: #fff;
  display: block;
  font-size: 0.6rem;
  margin: 0;
  padding: 5px 0;
}

@media (min-width: 480px) {
  .projects .demo-card .head h2 span {
    font-size: 0.9rem;
  }
}

.projects .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}

@media (min-width: 1000px) {
  .projects .demo-card .body {
    height: 465px;
  }
}

.projects .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

.projects .demo-card .body h3 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.projects .demo-card .body ul {
  -webkit-columns: 2;
          columns: 2;
  margin: 0 15px;
  list-style-type: none;
}

.projects .demo-card .body ul li {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.projects .demo-card .body img {
  display: block;
  width: 100%;
}

.projects .demo-card .body .btn-div {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .demo-card .body .btn-div .btn {
  margin: 15px 15px;
}

.projects .demo-card--step1 {
  background-color: #374785;
}

.projects .demo-card--step1 .head::after {
  border-color: #374785;
}

.projects .demo-card--step2 {
  background-color: #00A79d;
}

.projects .demo-card--step2 .head::after {
  border-color: #00A79d;
}

.projects .demo-card--step3 {
  background-color: #F7941D;
}

.projects .demo-card--step3 .head::after {
  border-color: #F7941D;
}

.projects .demo-card--step4 {
  background-color: #002147;
}

.projects .demo-card--step4 .head::after {
  border-color: #002147;
}

.projects .demo-card--step5 {
  background-color: #374785;
}

.projects .demo-card--step5 .head::after {
  border-color: #374785;
}

.projects .demo-card--step6 {
  background-color: #00A79d;
}

.projects .demo-card--step6 .head::after {
  border-color: #00A79d;
}

* {
  color: #080808;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #002147;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 760px) {
  header {
    width: 100%;
    /* Full width */
  }
}

header img {
  height: 50px;
  margin: 10px;
}

header h1 {
  color: #F5F5F5;
}

@media screen and (min-width: 760px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

nav {
  background: #002147;
  text-align: center;
}

@media screen and (min-width: 760px) {
  nav {
    width: 100%;
    /* Full width */
  }
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 10px;
}

nav a {
  color: #F5F5F5;
  margin: 10px;
  text-decoration: none;
}

.index-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/assets/background1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 84vh;
  padding: 10px;
  padding-bottom: 100px;
  text-align: center;
}

.index-main section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(circle, rgba(0, 33, 71, 0.75) 0%, rgba(0, 33, 71, 0.75) 70%, rgba(0, 167, 157, 0.1) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.index-main p {
  color: #F5F5F5;
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  max-width: 1000px;
}

.index-main h2 {
  color: #F5F5F5;
  margin: 10px;
  padding: 10px;
}

.index-main a {
  padding: 10px;
}

footer {
  background: #002147;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
}

footer p {
  color: #F5F5F5;
  margin: 10px;
}

.main-nav {
  display: none;
}

@media screen and (min-width: 760px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }
}

.fas {
  position: absolute;
  -webkit-transform: translate(calc(50vw - 70px), -50px);
          transform: translate(calc(50vw - 70px), -50px);
  color: #F5F5F5;
  font-size: 2em;
  padding: 10px 20px;
}

@media screen and (min-width: 760px) {
  .fas {
    visibility: hidden;
  }
}

.active {
  display: block;
}

.bigBold {
  color: #F5F5F5;
  font-size: 4em;
  margin: 10px;
  margin-top: 50px;
  text-shadow: 5px 5px #080808;
}

.btn {
  background-color: #00A79D;
  border: double #ED1C24;
  border-radius: 10%;
  -webkit-box-shadow: 3px 3px 3px #F7941D;
          box-shadow: 3px 3px 3px #F7941D;
  color: #F5F5F5;
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.about-main {
  background: #F5F5F5;
  text-align: center;
}

.about-main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 42vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-main p {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
}

.about-main h2 {
  color: #080808;
  margin: 10px;
  padding: 10px;
}

.about-main a {
  padding: 10px;
}

@media screen and (min-width: 760px) {
  .about-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-main section {
    height: 84vh;
    width: 50vw;
  }
}

.text-white {
  color: #fff;
}

.prim-color {
  background: #002147;
  color: #F5F5F5;
  padding: 10px;
}

.prim-color h2,
.prim-color p {
  color: #F5F5F5;
}
/*# sourceMappingURL=styles.css.map */