@import "variables";

* {
  color: $black;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

header {
  align-items: center;
  background: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 760px) {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  img {
    height: 50px;
    margin: $baseSpacing;
  }
  h1 {
    color: $white;
  }

  @media screen and (min-width: 760px) {
    flex-direction: row;
    justify-content: left;
  }
}

nav {
  background: $primary;
  text-align: center;
  @media screen and (min-width: 760px) {
    position: fixed; /* Set the navbar to fixed position */
    top: 74px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  ul {
    list-style-type: none;
  }
  li {
    padding: $baseSpacing;
  }
  a {
    color: $white;
    margin: 10px;
    text-decoration: none;
  }
}

.index-main {
  align-items: center;
  background: rgb(0, 33, 71);
  background: radial-gradient(
    circle,
    rgba(0, 33, 71, 1) 0%,
    rgba(0, 167, 157, 1) 73%,
    rgba(0, 33, 71, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
  padding: $baseSpacing;
  padding-bottom: $baseSpacing * 10;
  text-align: center;
  @media screen and (min-width: 760px) {
    margin-top: 110px;
  }
  p {
    color: $white;
    font-size: 1.2em;
    margin: $baseSpacing;
    margin-bottom: $baseSpacing * 5;
    padding: $baseSpacing;
    max-width: 1000px;
  }
  h2 {
    color: $white;
    margin: $baseSpacing;
    padding: $baseSpacing;
  }
  a {
    padding: $baseSpacing;
  }
}

footer {
  background: $primary;
  font-size: 0.8em;
  padding: $baseSpacing;
  text-align: center;
  p {
    color: $white;
    margin: $baseSpacing;
  }
}

.main-nav {
  display: none;

  @media screen and (min-width: 760px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-end;
    margin-right: $baseSpacing * 3;
  }
}

.fas {
  position: absolute;
  transform: translateX(calc(50vw - 70px));
  background: $primary;
  color: $white;
  font-size: 2em;
  padding: 10px 20px;
  @media screen and (min-width: 760px) {
    visibility: hidden;
  }
}

.active {
  display: block;
}

.bigBold {
  color: $white;
  font-size: 4em;
  margin: $baseSpacing;
  margin-top: 50px;
}

.btn {
  background-color: $logoBackground;
  border: double $logoRed;
  border-radius: 10%;
  box-shadow: 3px 3px 3px $logoOrange;
  color: $white;
  display: inline-block;
  margin: $baseSpacing * 2;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.about-main {
  background: $white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 84vh;
  text-align: center;
  @media screen and (min-width: 760px) {
    margin-top: 110px;
  }
  p {
    font-size: 1.2em;
    margin: $baseSpacing;
    padding: $baseSpacing;
    max-width: 1000px;
  }
  h2 {
    color: $black;
    margin: $baseSpacing;
    padding: $baseSpacing;
    max-width: 1000px;
  }
  h3 {
    padding: $baseSpacing;
    max-width: 1000px;
    // text-align: center;
  }
  a {
    padding: $baseSpacing;
  }
  ul {
    column-count: 2;
    column-gap: $baseSpacing * 5;
    list-style-type: none;
    margin: $baseSpacing;
    padding: $baseSpacing;
    max-width: 1000px;
    width: 100vw;
  }
}

.prim-color {
  background: $primary;
  color: $white;
  padding: $baseSpacing;
}

.align-right {
  text-align: right;
}

@media screen and (min-width: 760px) {
  .grid-intro {
    display: grid;
    grid-template-areas:
      "blank header"
      "blank content"
      "blank btn";
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    width: 100vw;
    div {
      grid-area: blank;
    }
    h2 {
      background: $white;
      grid-area: header;
      margin: 0;
    }
    p {
      background: $white;
      grid-area: content;
      margin: 0;
    }
    .btn-container {
      background: $white;
      grid-area: btn;
      margin: 0;
      max-width: 1000px;
    }
  }

  .grid-sum {
    display: grid;
    grid-template-areas:
      ". header"
      "side content";
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    width: 100vw;
    h2 {
      border-top: double $secondary;
      grid-area: header;
      margin: 0;
    }
    h3 {
      grid-area: side;
      margin: 0;
    }
    p {
      grid-area: content;
      margin: 0;
    }
  }

  .grid-skills {
    display: grid;
    grid-template-areas: "header list";
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    width: 100vw;
    ul {
      border-top: double $secondary;
      grid-area: list;
      margin: 0;
    }
    li {
      text-align: center;
      width: 100px;
    }
    h3 {
      grid-area: header;
      margin: 0;
    }
  }

  .grid-exp {
    display: grid;
    grid-template-areas:
    "blank header"
    "date1 content1"
    "date2 content2"
    "date3 content3"
    "date4 content4"
    "date5 content5"
    "date6 content6"
    "date7 content7"
    "date8 content8"
    "date9 content9";
    ;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    width: 100vw;
    div {
      grid-area: blank;
    }
    h4,
    p {
      padding: 5px 10px;
      text-align: left;
    }
    h4 {
      border-bottom: double $secondary;
    }
    .exp-title {
      background: $white;
      border-top: double $secondary;
      border-bottom: double $secondary;
      color: $primary;
      grid-area: header;
    }
    .date-1 {
      grid-area: date1;
      margin: 0;
    }
    .date-2 {
      grid-area: date2;
      margin: 0;
    }
    .date-3 {
      grid-area: date3;
      margin: 0;
    }
    .date-4 {
      grid-area: date4;
      margin: 0;
    }
    .date-5 {
      grid-area: date5;
      margin: 0;
    }
    .date-6 {
      grid-area: date6;
      margin: 0;
    }
    .date-7 {
      grid-area: date7;
      margin: 0;
    }
    .date-8 {
      grid-area: date8;
      margin: 0;
    }
    .date-9 {
      grid-area: date9;
      margin: 0;
    }
    .content-1 {
      grid-area: content1;
      margin: 0;
    }
    .content-2 {
      grid-area: content2;
      margin: 0;
    }
    .content-3 {
      grid-area: content3;
      margin: 0;
    }
    .content-4 {
      grid-area: content4;
      margin: 0;
    }
    .content-5 {
      grid-area: content5;
      margin: 0;
    }
    .content-6 {
      grid-area: content6;
      margin: 0;
    }
    .content-7 {
      grid-area: content7;
      margin: 0;
    }
    .content-8 {
      grid-area: content8;
      margin: 0;
    }
    .content-9 {
      grid-area: content9;
      margin: 0;
    }
    p {
      background: $white;
      grid-area: content;
      margin: 0;
    }
  }

  .grid-edu {
    display: grid;
    grid-template-areas:
      "blank header"
      "date1 content1"
      "date2 content2"
      "date3 content3"
      "date4 content4";
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    width: 100vw;
    div {
      grid-area: blank;
    }
    h4,
    p {
      padding: 5px 10px;
      text-align: left;
    }
    .exp-title {
      background: $white;
      border-top: double $secondary;
      border-bottom: double $secondary;
      color: $primary;
      grid-area: header;
    }
    .date-1 {
      grid-area: date1;
      margin: 0;
    }
    .date-2 {
      grid-area: date2;
      margin: 0;
    }
    .date-3 {
      grid-area: date3;
      margin: 0;
    }
    .date-4 {
      grid-area: date4;
      margin: 0;
    }
    .content-1 {
      grid-area: content1;
      margin: 0;
    }
    .content-2 {
      grid-area: content2;
      margin: 0;
    }
    .content-3 {
      grid-area: content3;
      margin: 0;
    }
    .content-4 {
      grid-area: content4;
      margin: 0;
    }
    p {
      background: $white;
      grid-area: content;
      margin: 0;
    }
  }
}




